<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
    <div class="header">
        <hr>
        <h1>About Modules</h1>
        <hr>
    </div>

    <h2>All about Full Stack Java Script</h2>
    <h3>Node modules we have used for this project:</h3>
    
        <p><b><a href="http://localhost:3000/http">HTTP</a></b>
        The http module in Node.js enables the creation of web servers and handling HTTP requests and responses. It is essential for building web applications and APIs. <br>
        With this module, you can create servers that listen on specific ports, handle incoming requests, and send responses back to clients. Additionally, it allows making HTTP requests to other servers.</p>
    
        <br><p><b><a href="http://localhost:3000/filesystem">File System (fs)</a></b>
        The fs module provides an API for interacting with the file system, allowing you to read from, write to, and manipulate files and directories. 
        <br>It supports both synchronous and asynchronous operations for reading and writing files. The module also enables manipulation of file paths and directories and can monitor changes in the file system.</p>
        
        <br><p><b><a href="http://localhost:3000/path">Path</a></b>
        The path module in Node.js offers utilities for working with file and directory paths in a platform-independent manner. This is particularly useful when dealing with file systems across different operating systems.
        <br> The module allows you to join different segments of a path to create a valid path string, resolve absolute paths, extract parts of a path such as directory names, file names, and extensions, and normalize paths to remove redundant segments.</p>
    
        <br><p><b><a href="http://localhost:3000/events">Events</a></b>
            The events module in Node.js, centered around the EventEmitter class, enables an event-driven architecture. It allows developers to create, emit, and handle custom events using methods like emit and on. 
            <br>This is essential for building scalable, asynchronous applications where components react to events efficiently.</p>
        <hr>
        <b><a href="http://localhost:3000/">Back to Home</a></b> <p>&copy; Lianne Campbell 2024</p>
    </div>
</body>
</html>