<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileSystem</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
    <div class="header">
        <hr>
        <h1>File System</h1>
        <hr>
    </div>
    <p><b>Filesystem (fs)</b>
        The fs module provides an API for interacting with the file system. It allows you to read from, write to, and manipulate the file system.
        <br>
        Usage:
        
        Read and write files synchronously and asynchronously.
        Manipulate file paths and directories.
        Watch for changes in the file system.</p>
        <ul>
            <li>fs.writeFile() - writes data to a file. If the file does not exist, it is created.</li>
            <li>fs.readFile() - reads the contents of a file.</li>
            <li>fs.appendFile() - appends data to a file. If the file does not exist, it is created.</li>
            <li>fs.unlink() - deletes a file.</li>
        </ul>
        <p>The fs module is a powerful tool in Node.js for handling file and directory operations. It provides both synchronous and asynchronous methods to suit different needs, whether you prefer non-blocking I/O or need to perform operations sequentially.
        <br> Understanding how to use this module effectively is crucial for any Node.js developer, especially when dealing with server-side file handling, logging, or configuration management.</p>
    
        <hr>
        <b><a href="http://localhost:3000/">Back to Home</a></b> <p>&copy; Lianne Campbell 2024</p>
    </div>
</body>
</html>