<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileSystem</title>
</head>
<body>
    <div class="header">
        <h1>File System</h1>
    </div>
    <p><b>Filesystem (fs)</b>
        The fs module provides an API for interacting with the file system. It allows you to read from, write to, and manipulate the file system.
        <br>
        Usage:
        
        Read and write files synchronously and asynchronously.
        Manipulate file paths and directories.
        Watch for changes in the file system.</p>
    
</body>
</html>