<html>
<head>
    <title>Home</title>
    <style>
       

    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Home</h1>
        </div>
        <div class="content">
            <h2>QAP1</h2>
            <p>Welcome to FullStack JavaScript</p>
            <p>In your browser and navigate to <br> http://localhost:3000/ <br> http://localhost:3000/about <br> http://localhost:3000/http <br> http://localhost:3000/path <br> http://localhost:3000/filesystem <br>to see the different pages served by the server.</p>
        </div>
    </div>
</html>