<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Path</title>
</head>
<body>
    <div class="header">
        <h1>Path</h1>
    </div>
    <p><b>Path</b>
        The path module in Node.js provides utilities for working with file and directory paths. It offers a way to handle and transform file paths in a platform-independent manner, which is particularly useful when working with file systems on different operating systems.
        <br>
        Usage:
        
        Join different segments of a path to create a valid path string.
        Resolve absolute paths.
        Extract parts of a path such as directory name, file name, and file extension.
        Normalize paths to remove redundant segments like . and ...</p>
</body>
</html>